@import url("css/reset.css");
@import url("css/layout.css");
@import url("css/art.css");
@import url("css/components/dxButtons.css");
@import url("css/components/dxForms.css");
div#wrap.loginPage {
	float:left;
	width:400px;
	margin:20px 0 0px -208px;
	left: 50%;
}
div#header h1 {
	margin:0 auto;
	background:url(images/livedemo-logo.png) center center no-repeat;
	height:99px;
}
fieldset ul li label {
	text-align:left;
}
