.dxDialogContainerOpened {
	height: expression(document.body.scrollHeight + "px");
}

.dxDialogContainerOpened .dxDialogOverlay {
	-ms-filter: "alpha(opacity=70)";
}


div.dxDropdownMenu ul li span.firstLevelArrow {
    display: inline-block;
}