/* [dxTooglePanel] */ 
.dxTooglePanel h3,
.dxTooglePanel .dxTitle {
	padding: 0;
	height: 14px;
	text-indent: 30px;
	line-height: 14px;
}
div.dxCollapsedContentMenu  {
	width:50px;
}
div#main div.dxExpandedContent {
	margin-left:50px;
}
/* [dxTabs] */ 
div.dxMainContent {
	margin-left:180px;
	width:auto;
}
div.dxTabs {
	width:100% !important;
}
.dxTabs .dxTabsList {
	height: auto;
}
.dxTabs .dxTabsList li {
	margin-right: 5px;
	position: relative;
	z-index:1;
}
div.dxTabs .dxTabsList li a {
	position: relative;
}
.dxTabs .dxTabContent {
	height: auto !important;
	height: 400px;
	width:auto;
	position: relative;
}
/* [dxResultTable] */ 
.dxPaginatedResultTable tbody .dxView,
.dxPaginatedResultTable tbody .dxSelectAll {
	display: block;
}
/* [dxButtons] */ 
.dxButton {
	padding-left: 22px;
	padding-right: 0;
}
.dxButtonDisabled,
.dxButtonIconsDisabled,
.dxButtonIconsHover {
	filter: alpha( opacity = 50);
}
/* [dxForms] */
form fieldset ul li input {
	margin: 0;
}
form fieldset ul li.check input {
	border: 0px;
	margin: 5px;
}
select.ui-datepicker-year {
	margin: -20px 3px 0 0 !Important;
}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year {
	margin: -2px 0 0 40px !Important;
}
.dxDialogContainerOpened .dxDialogOverlay {
	position: absolute;
	filter: alpha(opacity=70);
}
/* [dxDropdownMenu] */ 
.dxDropdownMenu ul li span {
	display: inline;
	float: none;
}
.dxDropdownMenu ul li .firstLevelArrow {
	display: inline-block;
	height: auto;
}
.dxDropdownMenu ul li {
	display: inline-block;
}
ul.messages{
	font-size: 0;
	border: none;
	height: 0;
	min-height:0;
	background: #EFEFEF;
}